<!DOCTYPE html>
<html>
<d>    
<nav>
    <div class="nav-wrapper #212121 grey darken-4">
      <a href="#" class="brand-logo"><img src="/assets/logo.png" style="height:40px;width:140px;margin-left:20px"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down" >
        <li><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"><i class="material-icons"style="margin-right:15px">add</i></li>
        <li><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"><i class="material-icons"style="margin-right:15px">settings</i></li>
        <li><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"><i class="material-icons"style="margin-right:30px">power_settings_new</i></li>
      </ul>
    </div>
  </nav>

<div class="container">
<style>
body {
    background-image: url("/assets/xfx.png");
    background-repeat:no-repeat;
    background-size:contain;
    background-color:#424242 grey darken-3;
}
</style>
<div style="row container">
              <div class="row container"style="margin-top:350px;position:absolute;text-align:center">
                  <a href="/home/weather" class="modal-trigger btn btn-large waves-effect waves-light sign-up-btn #9e9e9e grey" ><img src="/assets/come.png" ></a>
              </div>
      </div>
</body>
</div>
<div class="parallax-container" style="margin-top:300px">
    <div class="parallax"></div>
  </div>
  
  <footer class="page-footer #212121 grey darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">온도별 날씨별 코디 추천 서비스</h5>
                <p class="grey-text text-lighten-4">날씨 추천 요정 / 2016.05.28~29 / 미니 해커톤</p>
                <p class="grey-text text-lighten-4">멋쟁이 사자처럼 4기 서강대학교 </p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">만든이들</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" >   김지원♡정다혜♡이누리</a></li>
                  <li><a class="grey-text text-lighten-3" >   </a></li>
                  <li><a class="grey-text text-lighten-3" >   </a></li>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright #424242 grey darken-3">
            <div class="container">
            © 2016 Copyright 멋쟁이사자처럼 4기 서강대 
            <a class="grey-text text-lighten-3 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
</html>