<h1> 최고 온도를 고르세요 </h1>
 <!-- Dropdown Trigger "~5" -->
 <!-- Dropdown Trigger "~5" -->
  <a class='dropdown-button btn' href='#' data-activates='dropdown1'>~5</a>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="five_cloudy">구름</a></li>
    <li><a href="five_rainy">비옴</a></li>
    <li><a href="five_sunny">맑음</a></li>
  </ul>
  
   <!-- Dropdown Trigger -->
  <a class='dropdown-button btn' href='#' data-activates='dropdown1'>6~9</a>

  <!-- Dropdown Structure -->
  <ul id='dropdown2' class='dropdown-content'>
    <li><a href="#!" class="btn" onclick="Materialize.fadeInImage('#image-test')">Click Me</a>
        </li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
  
  